print('INSIRA SUAS NOTAS')
nota1 = int (input())
nota2 = int (input())
nota3 = int (input())
nota4 = int (input())
media = (nota1 + nota2 + nota3 + nota4) / 4
print('ESSA É SUA MEDIA', media)
if media >= 5:
    print('PARABENS VOCÊ PASSOU!')
else:
    print('INFELIZMENTE VOCE FOI REPROVADO')
